{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block main %}
    <br>

<div class="container-fluid bgdiv">
    <h3>Liste des sites</h3>
    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Nom du site</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
{#                <td>{{ site.id }}</td>#}
                <td>{{ site.name }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('site_show', {'id': site.id}) }}">Voir</a>
                    <a class="btn btn-warning ml-3" href="{{ path('site_edit', {'id': site.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de site disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('site_new') }}">Créer un nouveau site</a>
    <a class="btn btn-primary ml-3" href="{{ path('trip_index') }}">Retour à l'accueil</a>
</div>

{% endblock %}
