<div class="row">

    <div class="col-md my-auto">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.startDateTime) }}
        {{ form_row(form.endDateTime) }}
        {{ form_row(form.maxRegistration) }}
    </div>
    <div class="col-md my-auto">
        {{ form_row(form.informations) }}
        {{ form_row(form.Spot) }}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            +
        </button>
        {{ form_row(form.State) }}
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
        {{ form_end(form) }}
    </div>
</div>
{#<div class="" row>#}
{#    <div class="col-md my-auto">#}
{#        <div id="addSpot" class="collapse">#}
{#        </div>#}
{#        <div id="addSpot" class="collapse">#}

{#        </div>#}
{#    </div>#}

{#</div>#}
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un lieu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formspot) }}
                {{ form_widget(formspot) }}
                <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
                {{ form_end(formspot) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>



