<div class="row">

    <div class="col my-auto">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.startDateTime) }}
        {{ form_row(form.endDateTime) }}
        {{ form_row(form.maxRegistration) }}
    </div>
    <div class="col my-auto">
        {{ form_row(form.informations) }}
        {{ form_row(form.Spot) }}
        <a href="{{ path('spot_new') }}" target="_blank"><img src="{{ asset('images/plus.png')}}"></a>

        {{ form_row(form.State) }}
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
        {{ form_end(form) }}

    </div>

</div>



