{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block main %}
<br>
<div class="container-fluid bgdiv">
    <h3>Liste des sorties </h3>
    {{ include('inc/filter.trip.html.twig') }}
    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Name</th>
                <th>Ville</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Maximum d'inscrits</th>
                <th>Informations</th>
                <th>Organisateur</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
{#                <td>{{ trip.id }}</td>#}
                <td>{{ trip.name }}</td>
                <td>{{ trip.spot.city.name }}</td>
                <td>{{ trip.startDateTime ? trip.startDateTime|date('d-m-Y H:i') : '' }}</td>
                <td>{{ trip.endDateTime ? trip.endDateTime|date('d-m-Y H:i') : '' }}</td>
                <td>{{ trip.maxRegistration }}</td>
                <td>{{ trip.informations }}</td>
                <td>{{ trip.organiser.username }}</td>
                <td>{{ trip.state.name }}</td>

                <td>
                    <a class="btn btn-info" href="{{ path('trip_show', {'id': trip.id}) }}">Voir</a>
                    {% if trip.organiser.id == app.user.id %}
                        /<a class="btn btn-warning" href="{{ path('trip_edit', {'id': trip.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de sortie enregistrée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trip_new') }}">Créer une nouvelle sortie</a>
</div>
{% endblock %}
