{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block main %}
    <h3>City index</h3>
<div class="container">
    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Nom</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
{#                <td>{{ city.id }}</td>#}
                <td>{{ city.name }}</td>
                <td>{{ city.postalCode }}</td>
                <td>
                    <a href="{{ path('city_show', {'id': city.id}) }}">Voir</a> /
                    <a href="{{ path('city_edit', {'id': city.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de villes enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_create') }}">Créer sa ville (comme dans Sim City)</a>
</div>
{% endblock %}
