{% extends 'base.html.twig' %}

{% block main %}
    <h1>Liste des villes</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Ville</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    {% for city in cities %}
        <tr>
            <td>{{ city.name }}</td>
            <td>{{ city.postalCode }}</td>
            <td><a href="{{ path('city_edit',{'id':city.id}) }}">Modifier</a> -

{% block main %}
    <h1>City</h1>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ city.postalCode }}</td>
            </tr>
        </tbody>
    </table>


                <a href="{{ path('city_delete',{'id':city.id}) }}">Supprimer</a> </td>
        </tr>

{#        <form method="post" action="{{ path("trip_delete", { 'id' : trip.id}) }}">#}
{#            <input type="hidden" name="_method" value="DELETE">#}
{#            <input type="hidden" name="_token" value="{{ csrf_token('delete'~trip.id) }}">#}
{#            <button type="submit" >Supprimer la sortie</button>#}
{#        </form>#}
    {%  endfor %}
{#    <tr>#}
{#    <form method="post" action="/sortir/public/nouvelleVille">#}
{#    <td><input type="text" class="form-control" placeholder="Nouvelle Ville" name="ville" value="ville"></td>#}
{#    <td><input type="number" class="form-control" placeholder="Code Postal" name="codePostal" value="codePostal"></td>#}
{#    <td><button type="submit" class="hidden">Ajouter</button></td>#}
{#    </form>#}
{#    </tr>#}
    </tbody>
</table>
        <form method="get" action="{{ path("city_create")}}">
            <input type="hidden" name="_method">
            <button type="submit hidden" >Ajouter une ville
            </button>
        </form>



    {{ include('city/_delete_form.html.twig') }}
</div>

{% endblock %}
