{% extends 'base.html.twig' %}

{% block main %}
    <h1>Liste des villes</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Ville</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    {% for city in cities %}
        <tr>
            <td>{{ city.name }}</td>
            <td>{{ city.postalCode }}</td>
            <td><a href="{{ path('city_edit',{'id':city.id}) }}">Modifier</a> -
                <a href="{{ path('city_delete',{'id':city.id}) }}">Supprimer</a> </td>
        </tr>
    {%  endfor %}

    </tbody>
</table>
        <form method="get" action="{{ path("city_new")}}">
            <input type="hidden" name="_method">
            <button type="submit hidden" >Ajouter une ville
            </button>
        </form>




</div>

{% endblock %}
