<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {#        {% block stylesheets %}#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {#        {% endblock %}#}
    <link rel="icon" href="{{ asset("images/favicon.png") }}">
</head>
<body>
<div class="container-fluid ">
    <header>
        <nav class="navbar  navbar-expand-lg navbar-light bordure">

            <a class="navbar-brand" href="{{ path('main_home') }}">
                <img src="{{ asset('images/logo_sortir.png') }}" width="100px" height="100px">
            </a>
            <h1>Sortir.com</h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right zozo">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <li class="nav-item navbar-right">
                            <a class="nav-link" href="{{ path("user_profil", {"id": app.user.id}) }}">Mon Profil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("trip_index") }}">Liste des sorties</a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="dropdown">
                                <a class="nav-link zozo"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action de l'administrateur
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="{{ path("user_liste") }}">Gérer les utilisateurs</a>
                                    <a class="dropdown-item"  href="{{ path("site_index") }}">Gérer les sites</a>
                                    <a class="dropdown-item"  href="{{ path("city_index") }}">Gérer les villes</a>
                                    <a class="dropdown-item" href="{{ path("spot_index") }}">Gérer les lieux</a>
                                    <a class="dropdown-item" href="{{ path("trip_new") }}">Créer une sortie</a>
                                    <a class="dropdown-item"  href="{{ path("user_register") }}" >Créer un utilisateur</a>

                                </div>
                            </div>
                            {% else %}
                                <li class="nav-item navbar-right">
                                    <a class="nav-link" href="{{ path("trip_new") }}">Créer une sortie</a>
                                </li>

                        {% endif %}
                        <li class="nav-item navbar-right">
                            <a class="nav-link" href="{{ path("user_logout") }}">{{ app.user.username }},
                                Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
        <div id="msg">
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="text-center alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </header>
    <br><br>

    {% block main %}



    {% endblock %}
    <footer class="fixed-bottom text-center">
        &#169;Sortir.com {{ "now" | date("Y") }}
    </footer>
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('javascript/moment.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
{% endblock %}
</body>
</html>
