{% extends 'base.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block main %}
<br>
    <div class="container">
    <h1>Liste des lieux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rue</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spot in spots %}
            <tr>
                <td>{{ spot.id }}</td>
                <td>{{ spot.name }}</td>
                <td>{{ spot.street }}</td>
                <td>{{ spot.latitude }}</td>
                <td>{{ spot.longitude }}</td>
                <td>
                    <a href="{{ path('spot_show', {'id': spot.id}) }}">Voir</a> /
                    <a href="{{ path('spot_edit', {'id': spot.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de lieu enregistré.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spot_new') }}">Créer un nouveau lieu</a>
    </div>
{% endblock %}
