{% extends 'base.html.twig' %}

{% block main %}
<p> Ici.</p>
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Site</th>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>courriel</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
<form method="post" action="{{ path("user_ac", {'id': trip.id}) }}">
        {% for user in users %}
       <tr>
        <td>
                {{ user.id }}
{#                <ul>#}
{#                    <li><a href="{{ path("user_voirprofil", {'id': register.id}) }}">{{ register.username }}</a></li>#}
{#                </ul>#}

        </td>
        <td> {{ user.site.id }}</td>
        <td> {{ user.username }}</td>
        <td> {{ user.name }}</td>
        <td> {{ user.firstname }}</td>
        <td> {{ user.mail }}</td>
        <td> {% if user.active==1  %}
        <p>actif</p>
                <input type="checkbox" id="desactive" name="desactive">
                <label for="scales">Désactiver</label>
                {% else %}
                    <p>inactif</p>

                    <input type="checkbox" id="active" name="active">
                    <label for="scales">Réactiver</label>
            {% endif %}


        </td>
       </tr>
        {% endfor %}
    <button type="submit"
</form>
        </tbody>
    </table>

{% endblock %}

{#<form action="{{ path("trip_pullOut", {'id': trip.id}) }}">#}
{#    <input type="hidden" name="_method">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('pullOut'~trip.id) }}">#}
{#    <button class="btn btn-danger" type="submit">Se désister</button>#}
{#</form>#}