{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}



{% block main %}
<br>
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h4>Bienvenue  {{ app.user.username }} sur Sortir.com</h4>
        {% else %}
            <h1>Bienvenue sur Sortir.com</h1>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form method="post">
            <input type="text" class="form-control" placeholder="Votre identifiant" name="_username" required value="{{ lastUsername }}"><br>
            <input type="password" class="form-control" placeholder="Votre mot de passe" name="_password" required><br>
            <button type="submit" class="btn btn-primary">Se connecter</button>
            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Se souvenir de moi</label>
        </form>
        <div class="photo">
            <br>
        <img src="{{ asset("images/activite.png") }}" style="width: 50%" class="cadre">
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}